@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800&display=swap');

/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    max-width: 1200px;
    margin: auto;
}


/* header */

nav {
    height: 100px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    float: right;
    margin: 20px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}


/* header */


/* main */

.intro {
    display: flex;
    margin: 0 148px;
    margin-top: 128px;
    flex-flow: row wrap-reverse;
}


/* Main left */

.intro .left {
    max-width: 500px;
}

.content {
    margin: 40px 0;
}

.left .content h1 {
    font-size: 44px;
    font-weight: 700px;
}

.button button {
    border: 0;
    width: 208px;
    height: 47px;
    left: 148px;
    top: 477px;
    background: #FF6464;
    border-radius: 2px;
    color: azure;
    font-weight: 500;
    font-size: 20px;
}


/* Main Right */

.intro .right {
    max-width: 300px;
    margin: auto;
}

.intro .right img {
    width: 250px;
    height: 250px;
}


/* post */

.post {
    background: #EDF7FA;
    padding-bottom: 98px;
}

.fixboard {
    display: flex;
    margin: 0 148px;
    margin-top: 128px;
    flex-flow: row wrap;
}

.post .top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.post .bottom {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.bottom-in-left {
    width: 418px;
    height: 295px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
}

.bottom-in-right {
    width: 418px;
    height: 295px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
}

.bl2 {
    display: -webkit-inline-box;
}

.br2 {
    display: -webkit-inline-box;
}

.bottom-in-left div {
    margin: 6px 0;
}

.bottom-in-right div {
    margin: 6px 0;
}


/* Featured works */

.Featured .fixboard {
    display: flex;
    margin: 0 148px;
    margin-top: 60px;
}

.Featured1,
.Featured2,
.Featured3 {
    display: flex;
    flex-flow: wrap;
    margin-top: 60px;
}

.detail {
    margin-left: 40px;
    max-width: 520px;
}

.detail div {
    margin-bottom: 10px;
}

.detail2 {
    display: -webkit-inline-box;
}

.detail2-1 {
    background: #142850;
    border-radius: 16px;
    color: #EDF7FA;
    width: 62px;
    height: 25px;
    font-weight: 900;
}

.detail2-2 {
    color: #8695A4;
}


/* footer */

.footer {
    margin: 0 148px;
    margin-top: 128px;
}

.copy {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.icon {
    max-width: 220px;
    margin: auto;
}

i {
    margin: 0 10px;
}